* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    color: #676d79;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    min-width: 800px;
}

.head {
    /*position: fixed;*/
    padding: 10px;
    background-color: #03A9F4;
    color: #ffffff;
}

.content {
    font-size: 12px;
}

h1 {
    font-size: 14px;
}

h2 {
    text-align: center;
    padding: 20px;
}

.left, .right {
    display: inline-block;
    width: 50%;
    min-width: 300px;
    min-height: 200px;
    margin: 0px;
    padding: 0px;
}

.right {
    float: right;
}

.left-in, .right-in {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 50px;
}

.left-in {
    border-right: 1px solid #9E9E9E
}

.navi {
    clear: both;
}

.left-in label {
    width: 160px;
    font-size: 13px;
    display: inline-block;
}

.left-in fieldset {
    width: 360px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
}

.left-in legend {
    font-size: 14px;
}

.input-block {
    margin-bottom: 10px;
}

button {
    padding: 2px;
}

input {
    padding: 2px;
}

.setOptionsBlock {
    text-align: center;
}

.mainButton {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    background-color: #4CAF50;
    padding: 10px;
    color: #ffffff;
    border: 1px solid #00a207;
}

#stop {
    background-color: #F44336;
    border: 1px solid #ff1100;
}

#start,
#stop {
    display: none;
}

.console {
    padding: 10px;
    max-height: 550px;
    overflow-y: auto;
}

.console div {
    padding-left: 5px;
    padding-right: 5px;
}

.console-time, .console-type {
    padding-right: 5px;
}

.console div:nth-child(2n) {
    background-color: #ececec;
}

.console-type {
    display: none;
}

.console-line.status .console-time {
    color: #8BC34A;
    font-weight: bold;
}

.console-line.error .console-time {
    color: #ff0000;
    font-weight: bold;
}

.phrases-status {
    padding: 15px;
}

.phrase-top div {
    display: inline-block;
}

.phrase-name {
    width: 50%;
}

.phrase-info > div {
    text-align: right;
    font-size: 8px;
}

.phrase-info {
    float: right;
}

.phrase-found,
.phrase-ready {
    padding-right: 5px;
}

.phrase-percent {
    background-color: #ececec;
    position: relative;
    width: 100%;
    height: 20px;
}

.phrase-percent-number {
    position: absolute;
    width: 30px;
    margin: 0 auto;
    left: 50%;
    height: 100%;
    vertical-align: middle;
    display: block;
    line-height: 20px;
}

.phrase-percent-ready {
    display: block;
    background: #8eff92;
    height: 100%;
}

.phrase-status-block {
    margin-bottom: 10px;
}